*{
  padding: 0px ;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', 'Syne', sans-serif;
  background-image: url('./background.jpg');
  background-size: cover;
}

ul{
  list-style-type: square;
  list-style-position: inside;
  margin: 0px;
  padding: 0.5%;
}

li{
  margin: 1vw;
}

.descrition{
  color: white;
}

.location{
  display: block;
  font-size: 0.7vw;
}



.barra1{
  background-color:orange;
  height: 20px;
  width: 30%;
  border-radius: 0.3vw;
}

.barra2{
  background-color:green;
  height: 20px;
  width: 60%;
  border-radius: 0.3vw;
}

.barra3{
  background-color:red;
  height: 20px;
  width: 20%;
  border-radius: 0.3vw;
}

img.logo{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height : 5.5vw;
}

  .titolo{
    text-align: center;
    color: #8bff6b;
    font-size: 1.5vw;
  }

  .status{

    text-align: center;
    background-color: #8bff6b;
  }

  .button{
    font-size: 0.7vw;
    border: solid 1px;
    background-color: white;
    color:black;
    display: inline-block;

  }

.main{
  width: 63%;
  padding: 55px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
