*{
  margin: 0px;
  box-sizing: border-box;
}

.background{
  height: 100vh;
  background-image: url('https://1.bp.blogspot.com/-thcp2wgZDt4/XNcqrYXgHTI/AAAAAAAAOeU/cTbAW-qsGVoo9KaLQjHtq-qaZ1jM0aG9QCLcBGAs/s1600/space-1080%2B%25281%2529.png');
  position: relative;
  background-size: cover;
}

.layover{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}
.main-text
{
  font-size:60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
