header
{

}
.icona
{
  color:white;
}

.ricerca
{
  text-align: left;
}

body {
  width: 80%;
  margin:auto;
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}
.unread
{
  color: white;

}

  .evidenziato
  {
    background-color: yellow;
    color: black;
    border-radius: 25px;
    max-width: 20px;
  }
/*inizio riga messaggio letto*/
.msgletto
{ background-color: white;
  white-space: nowrap;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: clip;
  border: 1px solid #000000;
  }

.oggetto
{
  white-space: nowrap;
  width: 30%;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
}
.testo
{
  white-space: nowrap;
  width:40%;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  color: grey;
}
.spazio
{
  width: 10%;
  display: inline-block;

}
/*---------fine riga messaggio letto--------*/
/*inizio riga messaggio non letto*/
.msgnonletto
{
  background-color: lightgrey;
  width: 100%;
  height: 20px;
  border: 1px solid #000000;
  }

.oggettonl
{
  white-space: nowrap;
  width: 30%;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
}
.testonl
{
  white-space: nowrap;
  width:40%;
  overflow: hidden;
  text-overflow: clip;
  display: inline-block;
  color: grey;
}
.spazionl
{
  /*background-color: grey;*/
  width: 10%;
  display: inline-block;

}
/*fine messaggio non letto*/
footer
{
  color: white;
  text-align: center;
}
#Boolean
{
  font-style: oblique;
}
